* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(to right, yellow, rgb(223,223,11), rgb(179,179,5));
}

.container {
  min-height: 100vh;
  background-image: url(imgs/unnamed.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.login {
  font-size: 3rem;
  margin-bottom: 20px;
}

input {
  width: 80%;
  max-width: 320px;
  height: 50px;
  border-radius: 12px;
  border: none;
  text-align: center;
  font-weight: bold;
}

.forgot {
  font-size: 14px;
}

.cadastro {
  font-size: 14px;
}

.confirm {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  margin-top: 10px;
}

.login-button {
  width: 260px;
  height: 45px;
  border-radius: 10px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-size: 14px;
}

.login-button img {
  width: 24px;
}

.google {
  background: white;
}

.apple {
  background: black;
  color: white;
}