*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to right, yellow, rgb(223, 223, 11), rgb(179, 179, 5));
}

.container{
    background-image: url(imgs/unnamed.png);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    min-width: 100vw;
    text-align: center;
}

.login{
    position: relative;
    top: 25vh;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3.5em;
    
}

.name, .password{
    position: relative;
    top: 35vh;
    padding-bottom: 40px;
}

input{
    width: 24%;
    height: 3vh;
    border-radius: 12px;
    font-weight: bold;
    color: rgb(100, 31, 31);
}

::placeholder{
    text-align: center;
}

.forgot-password{
    position: relative;
    top: 32vh;
    right: 5vw;
}

button{
    position: relative;
    top: 34vh;
    height: 4vh;
    width: 15vw;
    border-radius: 10px;
}

.cadastro{
    position: relative;
    left: 5vw;
}

.login-button{
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    margin-top: 15px;
    align-items: center;
    gap: 12px;
    font-size: 13px
}

.google-icon{
    width: 28px;
}

.apple-icon{
    width: 28px;
}

.confirm{
    width: 180px;
}